/* Modified by Egghead */

/*

   Tachyons
   COLOR VARIABLES

   Grayscale
   - Solids
   - Transparencies
   Colors

*/

:root {
  --black: #000;
  --white: #fff;
  
  --transparent: transparent;
  
  --black-90: rgba(0, 0, 0, .9);
  --black-80: rgba(0, 0, 0, .8);
  --black-70: rgba(0, 0, 0, .7);
  --black-60: rgba(0, 0, 0, .6);
  --black-50: rgba(0, 0, 0, .5);
  --black-40: rgba(0, 0, 0, .4);
  --black-30: rgba(0, 0, 0, .3);
  --black-20: rgba(0, 0, 0, .2);
  --black-10: rgba(0, 0, 0, .1);
  --black-05: rgba(0, 0, 0, .05);
  --black-025: rgba(0, 0, 0, .025);
  --black-0125: rgba(0, 0, 0, .0125);
  
  --white-90: rgba(255, 255, 255, .9);
  --white-80: rgba(255, 255, 255, .8);
  --white-70: rgba(255, 255, 255, .7);
  --white-60: rgba(255, 255, 255, .6);
  --white-50: rgba(255, 255, 255, .5);
  --white-40: rgba(255, 255, 255, .4);
  --white-30: rgba(255, 255, 255, .3);
  --white-20: rgba(255, 255, 255, .2);
  --white-10: rgba(255, 255, 255, .1);
  --white-05: rgba(255, 255, 255, .05);
  --white-025: rgba(255, 255, 255, .025);
  --white-0125: rgba(255, 255, 255, .0125);
  
  
  /* Previous iteration stuff */
  
  /*--dark-navy: #15191d;*/
  /*--navy: #1b1f24;*/
  /*--light-navy: #292f36;*/
  /*--dark-gray: #434b56;*/
  /*--gray: #646e7b;*/
  /*--light-gray: #d1d2d3;*/
  /*--tag-gray: #f6f6f6;*/
  /*--yellow: #ffce51;*/
  /*--orange: #f59e33;*/
  /*--dark-orange: #df6941;*/
  /*--tag-orange: #fef3e7;*/
  /*--dark-blue: #0064af;*/
  /*--blue: #009dcf;*/
  /*--tag-blue: #edf0ff;*/
  /*--dark-green: #3ab66e;*/
  /*--green: #add960;*/
  /*--turquoise: #42c2b3;*/
  /*--tag-turquoise: #d9f3f0;*/
  /*--dark-red: #8f1233;*/
  /*--red: #e13f58;*/
  
  
  --white-secondary: #f8f8f8;
  
  --base: #232c3b;
  --base-secondary: #171e27;
  
  --gray: #f4f5f9;
  --gray-secondary: #e2e3e7;
  
  --dark-gray: #63768d;
  --dark-gray-secondary: #8996a5;
  
  --blue: #4786ff;
  --blue-secondary: #386fda;
  
  --dark-blue: #344055;
  --dark-blue-secondary: #273040;
  
  --green: #59cd90;
  --green-secondary: #409b6b;
  
  --orange: #fd9126;
  --orange-secondary: #c97420;
  
  --red: #f0624d;
  --red-secondary: #c44c3a;
  
  --yellow: #fbc155;
  --yellow-secondary: #d2a043;
}